## Timetable Excel File - Data Cleaning

#### Including Required Libraries

In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
file_path = "FAST School of Computing Spring 2023.xlsx"
my_section = "BSE-6A"
exclude_combine_section_course = "BAI";
sheet_ = "BSE BATCH 2020"

### Reading Courses and Faculty name for my SPRING-23 Semester

In [3]:
df = pd.read_excel(file_path , sheet_name= sheet_, header=4,
                   skiprows=lambda  x: x in [5], skipfooter=1, index_col=2)
#Skipping invalid rows

In [4]:
df.head(5)

,Unnamed: 0,S. No.,Course Title,Short,Sections,Crd.Hr.,BATCH,Instructors (Sections)
Code,,,,,,,,
CS3001,NaN,1.0,Computer Networks,CN,2.0,3.0,2020.0,"Dr. Sufian Hameed(BSE-6A), Ms. Yusra Kaleem(BS..."
CL3001,NaN,2.0,Computer Networks Lab,CN-Lab,2.0,1.0,2020.0,"Mr. Mohammad Nadeem(BSE-6A,BSE-6B)"
SE3003,NaN,3.0,Web Engineering,WE,2.0,3.0,2020.0,"Mr. Shahroz Bakht(BSE-6A), Mr. Fahad Hussain(B..."
SL3003,NaN,4.0,Web Engineering Lab,WE-Lab,2.0,1.0,2020.0,"Mr. Fahad Hussain(BSE-6A), Ms. Ayesha Ali Sidd..."
CS4056,NaN,5.0,Simulation Modeling,SM,2.0,3.0,2020.0,"Mr. Shahid Ashraf (BSE-6A, BSE-6B)"

#### Removing the Redundant column

In [5]:
df = df.drop(columns='Unnamed: 0')  
df

,S. No.,Course Title,Short,Sections,Crd.Hr.,BATCH,Instructors (Sections)
Code,,,,,,,
CS3001,1.0,Computer Networks,CN,2.0,3.0,2020.0,"Dr. Sufian Hameed(BSE-6A), Ms. Yusra Kaleem(BS..."
CL3001,2.0,Computer Networks Lab,CN-Lab,2.0,1.0,2020.0,"Mr. Mohammad Nadeem(BSE-6A,BSE-6B)"
SE3003,3.0,Web Engineering,WE,2.0,3.0,2020.0,"Mr. Shahroz Bakht(BSE-6A), Mr. Fahad Hussain(B..."
SL3003,4.0,Web Engineering Lab,WE-Lab,2.0,1.0,2020.0,"Mr. Fahad Hussain(BSE-6A), Ms. Ayesha Ali Sidd..."
CS4056,5.0,Simulation Modeling,SM,2.0,3.0,2020.0,"Mr. Shahid Ashraf (BSE-6A, BSE-6B)"
SE4032,6.0,Business Process Engineering,BPE,2.0,3.0,2020.0,"Ms. Sobia Iftikhar(BSE-6A, BSE-6B)"
NaN,SE ELECTIVES (OPT any ONE),NaN,NaN,NaN,NaN,NaN,NaN
CS4061,7.0,Ethical Hacking Concepts & Practices,EHCP,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
CS4049,8.0,Blockchain & Cryptocurrency,BLNC,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
CS4048,9.0,Data Science,DSCI,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
CS4053,10.0,Recommender Systems,RS,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
NaN,REPEAT COURSES,NaN,NaN,NaN,NaN,NaN,NaN
CS2005,11.0,Database Systems,DB,1.0,3.0,2020.0,"Course Planning: BCS-6A(CS,SE,AI & CY) \nMs. A..."
CL2005,12.0,Database Systems Lab,DB-Lab,1.0,3.0,2020.0,"Course Planning: BCS-6A(CS,SE,AI & CY) \nMr. ..."

## collecting all elective names

In [6]:
elective = df["Short"]
elective

Code
CS3001        CN
CL3001    CN-Lab
SE3003        WE
SL3003    WE-Lab
CS4056        SM
SE4032       BPE
NaN          NaN
CS4061      EHCP
CS4049      BLNC
CS4048      DSCI
CS4053        RS
NaN          NaN
CS2005        DB
CL2005    DB-Lab
Name: Short, dtype: object

In [7]:
# elective.loc[np.nan,:]
first_Nan_index = elective.index.isnull().argmax()
second_nan_index = elective.index.isnull()[first_Nan_index+1:].argmax() + first_Nan_index+1

In [8]:
ElectiveCourses =elective[first_Nan_index+1: second_nan_index].tolist()

In [9]:
ElectiveCourses

['EHCP', 'BLNC', 'DSCI', 'RS']

In [10]:
df

,S. No.,Course Title,Short,Sections,Crd.Hr.,BATCH,Instructors (Sections)
Code,,,,,,,
CS3001,1.0,Computer Networks,CN,2.0,3.0,2020.0,"Dr. Sufian Hameed(BSE-6A), Ms. Yusra Kaleem(BS..."
CL3001,2.0,Computer Networks Lab,CN-Lab,2.0,1.0,2020.0,"Mr. Mohammad Nadeem(BSE-6A,BSE-6B)"
SE3003,3.0,Web Engineering,WE,2.0,3.0,2020.0,"Mr. Shahroz Bakht(BSE-6A), Mr. Fahad Hussain(B..."
SL3003,4.0,Web Engineering Lab,WE-Lab,2.0,1.0,2020.0,"Mr. Fahad Hussain(BSE-6A), Ms. Ayesha Ali Sidd..."
CS4056,5.0,Simulation Modeling,SM,2.0,3.0,2020.0,"Mr. Shahid Ashraf (BSE-6A, BSE-6B)"
SE4032,6.0,Business Process Engineering,BPE,2.0,3.0,2020.0,"Ms. Sobia Iftikhar(BSE-6A, BSE-6B)"
NaN,SE ELECTIVES (OPT any ONE),NaN,NaN,NaN,NaN,NaN,NaN
CS4061,7.0,Ethical Hacking Concepts & Practices,EHCP,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
CS4049,8.0,Blockchain & Cryptocurrency,BLNC,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
CS4048,9.0,Data Science,DSCI,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
CS4053,10.0,Recommender Systems,RS,1.0,3.0,2020.0,"Course Planning: BSE-6A(BSE, BAI & BCY all sec..."
NaN,REPEAT COURSES,NaN,NaN,NaN,NaN,NaN,NaN
CS2005,11.0,Database Systems,DB,1.0,3.0,2020.0,"Course Planning: BCS-6A(CS,SE,AI & CY) \nMs. A..."
CL2005,12.0,Database Systems Lab,DB-Lab,1.0,3.0,2020.0,"Course Planning: BCS-6A(CS,SE,AI & CY) \nMr. ..."

## Now Reading the Daywise Timetable of my section

First, we try to get Timetable for Monday only, afterwards, we loop it over for other Days

In [11]:
df = pd.read_excel(file_path, sheet_name="MONDAY", header=2)

In [12]:
df.head(3)

,Venues/time,08-8:55,09-09:55,10-10:55,11-11:55,12-12:55,1-1:55,2-2:55,3-3:55
0,CLASSROOMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E1 CS(60),NaN,IR BCS-6A\nDr. Rafi,EHCP BSE-6A\nDr. Fahad Samad,EHCP BCS-8A\nDr. Fahad Samad,IR BCS-8A\nDr. Rafi,NaN,IR BCS-8A\nDr. Rafi,ADV BCS-8B\nAsiya
2,E2 CS (60),AI BCS-6E\nDr. Waheed,DLP BCS-8B\nSumaiyah,BLNC BSE-6A\nShahbaz,BLNC BCS-8A\nShahbaz,OOP BSE-2B\nDr. Abdul Aziz,SREE BCS-8A\nDr. Abdul Aziz,CN BSE-6B\nYusra,NaN

In [13]:
# Transposing the data-frame so that index would be the time of the classes(better in terms of understanding the data)
df = df.T   
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
Venues/time,CLASSROOMS,E1 CS(60),E2 CS (60),E3 CS (60),E4 CS (60),E5 CS (60),E6 CS (60),R11 CS (50),R12 CS (70),R109 CS (50),...,CS Lab-2 (40),CS Lab-4 (50),CS Lab-5 (49),CS Lab-6 (51),Lab-7 (51),EE Lab-8 (52),EE Lab-10 (50),EE Lab-11 (50),EE Lab-12 (39),EE MPI Lab
08-8:55,NaN,NaN,AI BCS-6E\nDr. Waheed,NaN,SE BCS-6B\nDr. Muazzam,AI BCS-6A\nDr. Fahad Sherwani,NaN,CN BCS-6C\nDr. Farrukh Salim,CN BCS-6D\nYusra,RS BSE-6A\nZain,...,PF Lab BSR-2A\nMuhsin\n,DLD Lab BCS-2B\nMubashra,"COAL BCS-4B(F,G,H,J,K)\nShoaib Rauf",OOP Lab BSR-2A\nMonis\n,OOP Lab BCS-2H\nYasir,OOP Lab BCS-2J\nZainab,OOP Lab BSR-2B\nAyesha Ali\n,OOP Lab BSR-2B2\nShahroz\n,RESERVED FOR EE,DLD Lab BCS-2A\nMuhammad Nadeem
09-09:55,NaN,IR BCS-6A\nDr. Rafi,DLP BCS-8B\nSumaiyah,WP BCS-6A\nAbdul Rahman,DSCI BSE-6A\nDr. Nouman,DLP BCS-8A\nDr. Atif,NaN,OOP BCS-2F\nBasit Ali,DLP BCS-6A\nDr. Jawwad,RS BCS-6A\nZain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Removing the column indexes (after transposing) as they are of no meaning.    #Don't run it more than once  
#Making classroom names as column indexes now
df.columns = df.iloc[0]
df = df.drop(df.index[0]) 
df.head(3)

Venues/time,CLASSROOMS,E1 CS(60),E2 CS (60),E3 CS (60),E4 CS (60),E5 CS (60),E6 CS (60),R11 CS (50),R12 CS (70),R109 CS (50),...,CS Lab-2 (40),CS Lab-4 (50),CS Lab-5 (49),CS Lab-6 (51),Lab-7 (51),EE Lab-8 (52),EE Lab-10 (50),EE Lab-11 (50),EE Lab-12 (39),EE MPI Lab
08-8:55,NaN,NaN,AI BCS-6E\nDr. Waheed,NaN,SE BCS-6B\nDr. Muazzam,AI BCS-6A\nDr. Fahad Sherwani,NaN,CN BCS-6C\nDr. Farrukh Salim,CN BCS-6D\nYusra,RS BSE-6A\nZain,...,PF Lab BSR-2A\nMuhsin\n,DLD Lab BCS-2B\nMubashra,"COAL BCS-4B(F,G,H,J,K)\nShoaib Rauf",OOP Lab BSR-2A\nMonis\n,OOP Lab BCS-2H\nYasir,OOP Lab BCS-2J\nZainab,OOP Lab BSR-2B\nAyesha Ali\n,OOP Lab BSR-2B2\nShahroz\n,RESERVED FOR EE,DLD Lab BCS-2A\nMuhammad Nadeem
09-09:55,NaN,IR BCS-6A\nDr. Rafi,DLP BCS-8B\nSumaiyah,WP BCS-6A\nAbdul Rahman,DSCI BSE-6A\nDr. Nouman,DLP BCS-8A\nDr. Atif,NaN,OOP BCS-2F\nBasit Ali,DLP BCS-6A\nDr. Jawwad,RS BCS-6A\nZain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10-10:55,NaN,EHCP BSE-6A\nDr. Fahad Samad,BLNC BSE-6A\nShahbaz,NaN,SE BCS-6A\nHajra,NaN,CN BCS-6F\nShoaib Raza,PF BCY-2A(CY & BSR-C)\nBasit Ali,SE BCS-6D\nDr. Muazzam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df = df.drop(columns= "CLASSROOMS")   # unneccessary column
df.head(2)

Venues/time,E1 CS(60),E2 CS (60),E3 CS (60),E4 CS (60),E5 CS (60),E6 CS (60),R11 CS (50),R12 CS (70),R109 CS (50),A-1 EE (72),...,CS Lab-2 (40),CS Lab-4 (50),CS Lab-5 (49),CS Lab-6 (51),Lab-7 (51),EE Lab-8 (52),EE Lab-10 (50),EE Lab-11 (50),EE Lab-12 (39),EE MPI Lab
08-8:55,NaN,AI BCS-6E\nDr. Waheed,NaN,SE BCS-6B\nDr. Muazzam,AI BCS-6A\nDr. Fahad Sherwani,NaN,CN BCS-6C\nDr. Farrukh Salim,CN BCS-6D\nYusra,RS BSE-6A\nZain,AI BCS-6F\nSaeeda,...,PF Lab BSR-2A\nMuhsin\n,DLD Lab BCS-2B\nMubashra,"COAL BCS-4B(F,G,H,J,K)\nShoaib Rauf",OOP Lab BSR-2A\nMonis\n,OOP Lab BCS-2H\nYasir,OOP Lab BCS-2J\nZainab,OOP Lab BSR-2B\nAyesha Ali\n,OOP Lab BSR-2B2\nShahroz\n,RESERVED FOR EE,DLD Lab BCS-2A\nMuhammad Nadeem
09-09:55,IR BCS-6A\nDr. Rafi,DLP BCS-8B\nSumaiyah,WP BCS-6A\nAbdul Rahman,DSCI BSE-6A\nDr. Nouman,DLP BCS-8A\nDr. Atif,NaN,OOP BCS-2F\nBasit Ali,DLP BCS-6A\nDr. Jawwad,RS BCS-6A\nZain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Replacing "\n" with commas for all columns (optional)

In [16]:

for col in df.columns:
    df[col] = df[col].apply(lambda x: str(x).replace("\n"," , "))
df.head(2)

Venues/time,E1 CS(60),E2 CS (60),E3 CS (60),E4 CS (60),E5 CS (60),E6 CS (60),R11 CS (50),R12 CS (70),R109 CS (50),A-1 EE (72),...,CS Lab-2 (40),CS Lab-4 (50),CS Lab-5 (49),CS Lab-6 (51),Lab-7 (51),EE Lab-8 (52),EE Lab-10 (50),EE Lab-11 (50),EE Lab-12 (39),EE MPI Lab
08-8:55,nan,"AI BCS-6E , Dr. Waheed",nan,"SE BCS-6B , Dr. Muazzam","AI BCS-6A , Dr. Fahad Sherwani",nan,"CN BCS-6C , Dr. Farrukh Salim","CN BCS-6D , Yusra","RS BSE-6A , Zain","AI BCS-6F , Saeeda",...,"PF Lab BSR-2A , Muhsin ,","DLD Lab BCS-2B , Mubashra","COAL BCS-4B(F,G,H,J,K) , Shoaib Rauf","OOP Lab BSR-2A , Monis ,","OOP Lab BCS-2H , Yasir","OOP Lab BCS-2J , Zainab","OOP Lab BSR-2B , Ayesha Ali ,","OOP Lab BSR-2B2 , Shahroz ,",RESERVED FOR EE,"DLD Lab BCS-2A , Muhammad Nadeem"
09-09:55,"IR BCS-6A , Dr. Rafi","DLP BCS-8B , Sumaiyah","WP BCS-6A , Abdul Rahman","DSCI BSE-6A , Dr. Nouman","DLP BCS-8A , Dr. Atif",nan,"OOP BCS-2F , Basit Ali","DLP BCS-6A , Dr. Jawwad","RS BCS-6A , Zain",nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

#### Finding My Section and carefully Excluding combine-section Courses

In [17]:
def func(series):
     return (series.apply(lambda x: my_section in str(x) and exclude_combine_section_course not in str(x)))

    
mask  = df.apply(lambda x:  func(x), axis=1)
classes = df[mask]

#### Removing unnecessary Time-slots and Classrooms

In [18]:
classes = classes.dropna(how='all', axis=0)
classes = classes.dropna(how='all', axis=1)
classes

Venues/time,E1 CS(60),E2 CS (60),E3 CS (60),E4 CS (60),R109 CS (50),A-2 EE (72),A-3 EE (72)
08-8:55,NaN,NaN,NaN,NaN,"RS BSE-6A , Zain",NaN,NaN
09-09:55,NaN,NaN,NaN,"DSCI BSE-6A , Dr. Nouman",NaN,NaN,NaN
10-10:55,"EHCP BSE-6A , Dr. Fahad Samad","BLNC BSE-6A , Shahbaz",NaN,NaN,NaN,NaN,NaN
11-11:55,NaN,NaN,NaN,NaN,NaN,NaN,"SM BSE-6A , Shahid"
12-12:55,NaN,NaN,"CN BSE-6A , Dr. Sufian",NaN,NaN,NaN,NaN
1-1:55,NaN,NaN,NaN,NaN,NaN,"WE BSE-6A , Shahroz",NaN
2-2:55,NaN,NaN,NaN,NaN,NaN,"BPE BSE-6A , Sobia",NaN
3-3:55,NaN,NaN,NaN,NaN,NaN,"BLNC BSE-6A , Shahbaz",NaN

Here we are all set to run excat same code for all Days of the week

In [19]:
ss = openpyxl.load_workbook(file_path)
sheetnames_list = ss.sheetnames

In [20]:
Monday_index = sheetnames_list.index("MONDAY")
Days = sheetnames_list[Monday_index:]
Days

['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY']

In [21]:
time = []
for day in Days:
    df = pd.read_excel(file_path, sheet_name=day, header=2)
    # display(HTML(df.to_html()))
    curr_day_time = list(df.columns)[1:]
    # time = time + curr_day_time
    # time  = sorted(list(set(time)) + list(set(curr_day_time)))
    print(curr_day_time)
    time  = time + [curr_time for curr_time in curr_day_time if curr_time not in time]
    
print("\n\n")
print(time)

['08-8:55', '09-09:55', '10-10:55', '11-11:55', '12-12:55', '1-1:55', '2-2:55', '3-3:55']
['08-8:55', '09-09:55', '10-10:55', '11-11:55', '12-12:55', '1-1:55', '2-2:55', '3-3:55']
['08-8:55', '09-09:55', '10-10:55', '11-11:55', '12-12:55', '1-1:55', '2-2:55', '3-3:55']
['08-8:55', '09-09:55', '10-10:55', '11-11:55', '12-12:55', '1-1:55', '2-2:55', '3-3:55']
['08-8:55', '09-09:55', '10-10:55', '11-11:55', '12-12:55', '01-01:45', '01:50-02:35', '02:40-03:25', '03:30-04:15']



['08-8:55', '09-09:55', '10-10:55', '11-11:55', '12-12:55', '1-1:55', '2-2:55', '3-3:55', '01-01:45', '01:50-02:35', '02:40-03:25', '03:30-04:15']

### PUTTING IT ALL TOGETHER FOR EACH DAYS

In [22]:
def func(series):
    return (series.apply(lambda x: my_section in str(x) and exclude_combine_section_course not in str(x)))

timeTable = pd.DataFrame()
timeTable["Time"] = time
timeTable.set_index("Time", inplace=True)

for day in Days:
    df = pd.read_excel(file_path, sheet_name=day, header=2)
    
    # Transposing the data-frame so that index becomes the time of the classes/
    df = df.T
    
    #Removing the Serial number(after transposing) as column names   #Don't run it more than once          
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    df = df.drop(columns= "CLASSROOMS")   # unneccessary column

    #replacing "\n" with ","
    for col in df.columns:
        df[col] = df[col].apply(lambda x: str(x).replace("\n"," , "))

    mask  = df.apply(lambda x:  func(x), axis=1)
    # print(mask)  
    classes = df[mask]
    classes = classes.dropna(how='all', axis=0)
    classes = classes.dropna(how='all', axis=1)
    classes = classes.replace(np.nan, "-")
    
    # Below code will squeeze the multiple columns into single one

    # concatenate the Column names with its values i.e Concatenating Room numbers e.g (R12)
    for col in classes.columns:
        classes[col] = classes[col].apply(lambda x: str(x) + "," + col)
    # replacing dash + column name values with empty strings  
    for col in classes.columns:
        classes[col] = classes[col].apply(lambda x: str(x).replace( "-,"+ col, ""))

    # merging all columns into a single Column
    cols = classes.columns.to_list()
    timeTable[day] = classes[cols].agg("".join, axis=1)

In [23]:
TTable = timeTable.copy()
TTable.replace(np.nan, "-", inplace=True)
TTable.to_csv("TimeTable.csv", index=True)

In [24]:
TTable

,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
Time,,,,,
08-8:55,"RS BSE-6A , Zain,R109 CS (50)","RS BSE-6A , Zain,R109 CS (50)","CN Lab BSE-6A , Muhammad Nadeem,CS Lab-6 (51)",-,-
09-09:55,"DSCI BSE-6A , Dr. Nouman,E4 CS (60)","EHCP BSE-6A , Dr. Fahad Samad,E5 CS (60)",-,-,-
10-10:55,"EHCP BSE-6A , Dr. Fahad Samad,E1 CS(60)BLNC BS...","BPE BSE-6A , Sobia,A-4 EE (72)",-,-,"WE BSE-6A , Shahroz,E3 CS (60)"
11-11:55,"SM BSE-6A , Shahid,A-3 EE (72)","DSCI BSE-6A , Dr. Nouman,CS Lab-6 (51)","DSCI BSE-6A , Dr. Nouman,E4 CS (60)",-,"WE Lab BSE-6A , Fahad Hussain,Lab-7 (51)"
12-12:55,"CN BSE-6A , Dr. Sufian,E3 CS (60)","CN BSE-6A , Dr. Sufian,A-4 EE (72)","BLNC BSE-6A , Shahbaz,EE Lab-8 (52)EHCP BSE-6A...",-,-
1-1:55,"WE BSE-6A , Shahroz,A-2 EE (72)","SM BSE-6A , Shahid,A-4 EE (72)",-,-,-
2-2:55,"BPE BSE-6A , Sobia,A-2 EE (72)","RS BSE-6A , Zain,A-4 EE (72)","CN BSE-6A , Dr. Sufian,E5 CS (60)",-,-
3-3:55,"BLNC BSE-6A , Shahbaz,A-2 EE (72)","WE BSE-6A , Shahroz,A-4 EE (72)",-,-,-
01-01:45,-,-,-,-,-
01:50-02:35,-,-,-,-,-
02:40-03:25,-,-,-,-,"SM BSE-6A , Shahid,A-2 EE (72)"
03:30-04:15,-,-,-,-,"BPE BSE-6A , Sobia,A-2 EE (72)"

In [25]:
from IPython.display import display, HTML

In [26]:
def func2(input1):
    if any( course in str(input1) and "BSE-6A" in str(input1) for course in ElectiveCourses ):
        return True
    elif (my_section in str(input1) and exclude_combine_section_course not in str(input1)):
         return True
    elif ("BCS-8A" in input1 and "DLP" in input1):
         return True
    else : return False

def func(series):
    return (series.apply(func2))


timeTable = pd.DataFrame()
timeTable["Time"] = time
timeTable.set_index("Time", inplace=True)

for day in Days:
    df = pd.read_excel(file_path, sheet_name=day, header=2)
    
    # Transposing the data-frame so that index becomes the time of the classes/
    df = df.T
    
    #Removing the Serial number(after transposing) as column names   #Don't run it more than once          
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    df = df.drop(columns= "CLASSROOMS")   # unneccessary column

    #replacing "\n" with ","
    for col in df.columns:
        df[col] = df[col].apply(lambda x: str(x).replace("\n"," , "))

    mask  = df.apply(lambda x:  func(x), axis=1)
#     print(mask)
    
    classes = df[mask]
    classes = classes.dropna(how='all', axis=0)
    classes = classes.dropna(how='all', axis=1)
    classes = classes.replace(np.nan, "-")
    
    # Below code will squeeze the multiple columns into single one

    # concatenate the Column names with its values i.e Concatenating Room numbers e.g (R12)
    for col in classes.columns:
        classes[col] = classes[col].apply(lambda x: str(x) + "," + col)
    # replacing dash + column name values with empty strings  
    for col in classes.columns:
        classes[col] = classes[col].apply(lambda x: str(x).replace( "-,"+ col, ""))

    # merging all columns into a single Column
    cols = classes.columns.to_list()
    timeTable[day] = classes[cols].agg("".join, axis=1)

In [27]:
TTable = timeTable.copy()
TTable.replace(np.nan, "-", inplace=True)
TTable.to_csv("TimeTableElective.csv", index=True)
display(HTML(TTable.to_html()))

In [28]:
dff = TTable.apply(lambda x: x.str.replace(')','\n\n',regex=False ))
display(HTML(dff.to_html().replace("\\n","<br>")))

### Friday Slots changed

In [29]:
dff.loc['1-1:55':'3-3:55','FRIDAY'] = 'INVALID SLOT'
dff.loc['01-01:45': , 'MONDAY':'THURSDAY'] = 'INVALID SLOT'
dff

,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY
Time,,,,,
08-8:55,"RS BSE-6A , Zain,R109 CS (50\n\n","RS BSE-6A , Zain,R109 CS (50\n\n","CN Lab BSE-6A , Muhammad Nadeem,CS Lab-6 (51\n\n",-,-
09-09:55,"DSCI BSE-6A , Dr. Nouman,E4 CS (60\n\nDLP BCS-...","EHCP BSE-6A , Dr. Fahad Samad,E5 CS (60\n\n","DLP BCS-8A , Dr. Atif,R12 CS (70\n\n",-,-
10-10:55,"EHCP BSE-6A , Dr. Fahad Samad,E1 CS(60\n\nBLNC...","BPE BSE-6A , Sobia,A-4 EE (72\n\n",-,-,"WE BSE-6A , Shahroz,E3 CS (60\n\n"
11-11:55,"SM BSE-6A , Shahid,A-3 EE (72\n\n","DSCI BSE-6A , Dr. Nouman,CS Lab-6 (51\n\n","DSCI BSE-6A , Dr. Nouman,E4 CS (60\n\n",-,"WE Lab BSE-6A , Fahad Hussain,Lab-7 (51\n\n"
12-12:55,"CN BSE-6A , Dr. Sufian,E3 CS (60\n\n","CN BSE-6A , Dr. Sufian,A-4 EE (72\n\n","DLP BCS-8A , Dr. Atif,Lab-7 (51\n\nBLNC BSE-6A...",-,-
1-1:55,"WE BSE-6A , Shahroz,A-2 EE (72\n\n","SM BSE-6A , Shahid,A-4 EE (72\n\n",-,-,INVALID SLOT
2-2:55,"BPE BSE-6A , Sobia,A-2 EE (72\n\n","RS BSE-6A , Zain,A-4 EE (72\n\n","CN BSE-6A , Dr. Sufian,E5 CS (60\n\n",-,INVALID SLOT
3-3:55,"BLNC BSE-6A , Shahbaz,A-2 EE (72\n\n","WE BSE-6A , Shahroz,A-4 EE (72\n\n",-,-,INVALID SLOT
01-01:45,INVALID SLOT,INVALID SLOT,INVALID SLOT,INVALID SLOT,-
01:50-02:35,INVALID SLOT,INVALID SLOT,INVALID SLOT,INVALID SLOT,-
02:40-03:25,INVALID SLOT,INVALID SLOT,INVALID SLOT,INVALID SLOT,"SM BSE-6A , Shahid,A-2 EE (72\n\n"
03:30-04:15,INVALID SLOT,INVALID SLOT,INVALID SLOT,INVALID SLOT,"BPE BSE-6A , Sobia,A-2 EE (72\n\n"

In [30]:
# from termcolor import colored
# print(colored('hello', 'red'), colored('world', 'green'))
# print(colored("hello red world", 'red'))

In [31]:
# from IPython.display import HTML as html_print

# def cstr(s, color='black'):
#     return "<text style=color:{}>{}</text>".format(color, s)

# left, word, right = 'foo' , 'abc' , 'bar'
# html_print(cstr(' '.join([left, cstr(word, color='red'), right]), color='black') )

In [32]:
# dff.style.applymap(lambda x: "background-color: red" if x == 'INVALID' else "color: white")

In [33]:
dft = dff.apply(lambda x: x.str.replace(')','\n\n',regex=False ))
dft = dff.apply(lambda x: x.str.replace(r'\(\d{2}','',regex=True ))

html_version = dft.to_html().replace("\\n","<br>")
display(HTML(html_version))

#### Adding colors

In [34]:
resultant = ''.join(html_version)

In [35]:
html_version = ''.join(resultant)

In [36]:
print(id(resultant))
print(id(html_version))

2337961558304
2337961554960

In [37]:
html_version = html_version.replace("<td>INVALID SLOT</td>","<td style=\"  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;\">INVALID SLOT</td>")
html_version = html_version.replace("<td>","<td style=\"  text-align: center; font-size: 14px; font-weight: 500;\">")
html_version = html_version.replace("<th>","<th style=\"  text-align: center; font-size: 15px; font-weight: 900;\">")

In [38]:
html_version

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;"></th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">MONDAY</th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">TUESDAY</th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">WEDNESDAY</th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">THURSDAY</th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">FRIDAY</th>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">Time</th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;"></th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;"></th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;"></th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;"></th>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;"></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">08-8:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">RS BSE-6A , Zain,R109 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">RS BSE-6A , Zain,R109 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">CN Lab BSE-6A , Muhammad Nadeem,CS Lab-6 <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">09-09:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">DSCI BSE-6A , Dr. Nouman,E4 CS <br><br>DLP BCS-8A , Dr. Atif,E5 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">EHCP BSE-6A , Dr. Fahad Samad,E5 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">DLP BCS-8A , Dr. Atif,R12 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">10-10:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">EHCP BSE-6A , Dr. Fahad Samad,E1 CS<br><br>BLNC BSE-6A , Shahbaz,E2 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">BPE BSE-6A , Sobia,A-4 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">WE BSE-6A , Shahroz,E3 CS <br><br></td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">11-11:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">SM BSE-6A , Shahid,A-3 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">DSCI BSE-6A , Dr. Nouman,CS Lab-6 <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">DSCI BSE-6A , Dr. Nouman,E4 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">WE Lab BSE-6A , Fahad Hussain,Lab-7 <br><br></td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">12-12:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">CN BSE-6A , Dr. Sufian,E3 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">CN BSE-6A , Dr. Sufian,A-4 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">DLP BCS-8A , Dr. Atif,Lab-7 <br><br>BLNC BSE-6A , Shahbaz,EE Lab-8 <br><br>EHCP BSE-6A , Dr. Fahad Samad,EE Lab-11 <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">1-1:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">WE BSE-6A , Shahroz,A-2 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">SM BSE-6A , Shahid,A-4 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">2-2:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">BPE BSE-6A , Sobia,A-2 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">RS BSE-6A , Zain,A-4 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">CN BSE-6A , Dr. Sufian,E5 CS <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">3-3:55</th>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">BLNC BSE-6A , Shahbaz,A-2 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">WE BSE-6A , Shahroz,A-4 EE <br><br></td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">01-01:45</th>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">01:50-02:35</th>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">-</td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">02:40-03:25</th>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">SM BSE-6A , Shahid,A-2 EE <br><br></td>\n    </tr>\n    <tr>\n      <th style="  text-align: center; font-size: 15px; font-weight: 900;">03:30-04:15</th>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  background-color:red; text-align: center; font-size: 10px; font-weight: bolder;">INVALID SLOT</td>\n      <td style="  text-align: center; font-size: 14px; font-weight: 500;">BPE BSE-6A , Sobia,A-2 EE <br><br></td>\n    </tr>\n  </tbody>\n</table>'

In [39]:
display(HTML(html_version ))